@model MusicStoreMVC5EF.Models.Album

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>

<p class="text-danger">
    Are you sure you want to delete the album titled
    <strong>@Model.Title</strong>?
</p>

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </p>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

}